version: '3.8'

volumes:
  productsData:
  identityServerData:
  cartData:
  couponData:

networks:
  geekshopping:

services:
  geekshopping_identity_server:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - 5002:80
    networks:
      - geekshopping

  geekshopping_products_api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - 5001:80
    networks:
      - geekshopping

  geekshopping_cart_api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - 5003:80
    networks:
      - geekshopping

  geekshopping_coupon_api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - 5004:80
    networks:
      - geekshopping
  
  geekshopping_web_frontend:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - 5000:80
    networks:
      - geekshopping

  products_db:
    volumes:
      - productsData:/var/lib/mysql
    ports:
      - '3306:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=lalala
      - bind-address=0.0.0.0
    networks:
      - geekshopping

  cart_db:
    volumes:
      - cartData:/var/lib/mysql
    ports:
      - '3308:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=lalala
      - bind-address=0.0.0.0
    networks:
      - geekshopping

  coupon_db:
    volumes:
      - couponData:/var/lib/mysql
    ports:
      - '3309:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=lalala
      - bind-address=0.0.0.0
    networks:
      - geekshopping

  identity_server_db:
    volumes:
      - identityServerData:/var/lib/mysql
    ports:
      - '3307:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=lalala
      - bind-address=0.0.0.0
    networks:
      - geekshopping
